  <div class="center ">
    <div class="card" style="width: 100%;" *ngFor="let i of dados">
      <div id="apresentacao table-dark">
        <img class="card-img-top mt-0 table-dark"  [src]="i.imagem" alt="Card image cap">
          <div class="card-body table-dark alinhamento">
              <h5>{{i.grupo}}</h5>
            <table class="table table-dark table-bordered">
                <thead>
                  <tr>
                    <th scope="col">Lacre</th>
                    <th scope="col">Processo</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{i.lacre}}</td>
                    <td>{{i.processo}}</td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
      </div>
  </div>



   


