<div class="container-fluid">

    <div class="alert table-dark border border-primary"  role="alert">
        <h4 class="text-center">CCU</h4>
        <h4 class="text-center">GABINETE</h4>
        <h4 class="text-center">BENS LEILOÁVEIS</h4>
    </div>


    <ul name="grupos"  class="nav" *ngFor="let i of grupos">
        <li class="nav-item">
            <a class="nav-link" routerLink="apresentacao" (click)="getParam(i.grupo)">{{i.total}} - {{i.grupo}}</a>
        </li>
    </ul>

   
        
<div>
    <router-outlet></router-outlet>
</div>
    

</div>
